.jumbotron {
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #ccd8e4;
    text-align: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-color: rgb(243, 233, 227);
    text-align: center;
}
#mathOut{
    padding-top: 10px;
    text-align: left;
    padding-left: 33.333%;
}